
.close {
  position: absolute;
  right: -33px;
  top: -19px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  background-color: #c8990e;
  border-radius: 45%;
}

.closeNotificationList {
  position: absolute;
  right: -1px;
  top: -16px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 45%;
}

.closeNotificationList:before, .closeNotificationList:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color:white;
}
.closeNotificationList:before {
  transform: rotate(45deg);
}
.closeNotificationList:after {
  transform: rotate(-45deg);
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fdcf4b;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.52);
  z-index: 9993;
}

.main {
  width: 80%;
  padding-left: 1px!important;
  padding-bottom: 13px!important;
  padding-top: 7px!important;
  height: auto!important;
  position: absolute;
  margin-bottom: 8%;
  margin-left: 10%;
  margin-right: 25%;
  margin-top: 2%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
  border-top-color: rgba(255,255,255,0.4);
  border-left-color: rgba(255,255,255,0.4);
  border-bottom-color: rgba(60,60,60,0.4);
  border-right-color: rgba(60,60,60,0.4);
  background: rgba(21, 34, 8, 0.87);
  -webkit-animation: bounce-in-fwd 1s steps(1, end) alternate ;
  animation: bounce-in-fwd 1s steps(1, end) alternate ;
}

.paragraph {
  color: white;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 1px;
}

.main div[id=searchandload] {
  display: inline-block;
  margin-bottom: -1%;
}

.main div[class=react-grid-Container] {
  width: 100%!important;
}

.main span[id=reactGridspan2] {
  color: white;
}

.main div[class=react-grid-Grid] {
  min-height: calc( 102vh - 246px ) !important;
}

.main p[id=searchAndLoadParagraph] {
  display: none;
}

.main form[id=searchAndLoadForm] {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.main select[id=searchAndLoadSelect] {
  margin-left: 3%;
  margin-top: 0;
}

.main div[id=searchAndLoadDynamicSelect] {
  width: 100%;
}

.main div[id=searchAndLoadDynamicSelect] > div {
  width: 100%;
}
