.mainDiv {
  cursor: pointer;
  transition: transform 0.3s;
  height: 10em;
  width: 10em;
  background-image: url(img/BG_MainContent.png);
  border-radius: 50%;
  margin-bottom: 100px;
}

.mainDiv:hover {
  transform: scale(1.2);
}
