.fullContainer {
  height: 100%;
}

.table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.columnCenter {
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 1px;
}

.columnLeft, .columnRight {
  width: 25%;
  padding-left: calc(12.5% - 5em);
}

/* menuConfig classes */
.holding_responsible {
  height: inherit;
  margin-top: 15%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/2_farmers_persons/farmer_final.svg')
}

.holding {
  height: inherit;
  margin-top: 15%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/1_farm_details/farm_final.svg')
}

.animal {
  height: inherit;
  margin-top: 12%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/3_animals/noun_1046368_cc.svg');
}

.vaccination_results {
  height: inherit;
  margin-top: 20%;
  background-position: center;
  background-size: 83%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/11_vaccination/vacc3.svg');
}

.vaccination_event {
  height: inherit;
  margin-top: 20%;
  background-position: center;
  background-size: 83%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/11_vaccination/vacc1.svg');
}

.vaccination_book {
  height: inherit;
  margin-top: 20%;
  background-position: center;
  background-size: 83%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/11_vaccination/vacc2.svg');
}

.svarog_org_units {
  height: inherit;
  margin-top: 15%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/5_documents/124736.svg');
}

.quarantine {
  height: inherit;
  margin-top: 16%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/12_quarantine/quarantine.svg');
}

.area {
  height: inherit;
  margin-top: 12%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/13_area_health/health.svg');
}

.population {
  height: inherit;
  margin-top: 15%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/14_population/population.svg');
}

.export_cert {
  height: inherit;
  margin-top: 16%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/15_export_cert/document.svg');
}

.laboratory {
  height: inherit;
  margin-top: 16%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/16_laboratory/labaratory.svg');
}

.lab_sample {
  height: inherit;
  margin-top: 16%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/17_sample/sample.svg');
}

.lab_test_type {
  height: inherit;
  margin-top: 16%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/18_lab_test_type/type.svg');
}

.inventory_item {
  height: inherit;
  margin-top: 18%;
  margin-left: 0.5%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/19_inventory_item/inventory_item.svg');
}

.pet {
  height: inherit;
  margin-top: 16%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/20_pet/pet.svg');
}

.stray_pet {
  height: inherit;
  margin-top: 16%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/20_pet/stray_pet.png');
}

.movement_doc {
  height: inherit;
  margin-top: 15%;
  margin-left: 2px;
  background-position: center;
  background-size: 76%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/21_movement_doc/movement_doc.svg');
}

.rfid_input {
  height: inherit;
  margin-top: 15%;
  margin-left: 2px;
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
  background-image: url('img/MainPalette/22_rfid/rfid_2.svg');
}

.logoutBoxImg {
  position: absolute!important;
  bottom: 1%;
  left: 1%;
  width: 3%;
  height: 5%;
  filter: blur(0.3px);
  -o-filter: blur(0.3px);
  -ms-filter: blur(0.3px);
  -moz-filter: blur(0.3px);
  -webkit-filter: blur(0.3px);
  cursor: pointer;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/MainPalette/8_logout/logout_final.png);
}
.exportBoxImg {
  position: absolute!important;
  bottom: 1%;
  left: 5%;
  width: 3%;
  height: 10%;
  filter: blur(0.3px);
  -o-filter: blur(0.3px);
  -ms-filter: blur(0.3px);
  -moz-filter: blur(0.3px);
  -webkit-filter: blur(0.3px);
  cursor: pointer;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/MainPalette/8_logout/logout_final.png);
}
.admConsoleBoxImg {
  position: absolute !important;
  bottom: 1%;
  right: 1%;
  width: 2.5%;
  height: 5%;
  filter:blur(0.3px);
  -o-filter:blur(0.3px);
  -ms-filter:blur(0.3px);
  -moz-filter:blur(0.3px);
  -webkit-filter:blur(0.3px);

  cursor:pointer;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('img/menu_icons/settings-white.svg');
}

/* Float Shadow */
.hvr-float-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  /* z-index: -9; */
  content: '';
  top: 93%;
  left: 5%;
  height: 6%;
  width: 87%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(249, 235, 210, 0.72) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(249, 235, 210, 0.72) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
