.div_main_menu {
  background-color: rgba(0, 0, 0, 0.54);
  box-shadow: 1px 1px 50px rgba(0,0,0,1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9992;
}

.container_left {
  float: left;
}

.container_right {
  float: right;
}

.menu_container, .lang_container {
  display: inline-block;
}

.menu_container ul {
  list-style: none;
  text-align: right;
  margin-bottom: 0;
  display: inline-block;
  padding-right: 10px;
  margin-right: 5px;
}

/* Screen < 600px */
.menu_container li {
  position: relative;
  line-height: 40px;
  height: 40px;
  width: auto;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
  background-color: transparent;
}

@media screen and (min-width: 600px) {
  .menu_container li {
    position: relative;
    border-bottom: none;
    height: 50px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    background-color: transparent;
    border: none
  }
}

.menu_container a {
  text-decoration: none;
  padding-left: 50px;
  color: white;
  display: block;
  transition: .3s background-color;
  width: auto;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.menu_container a:focus {
  outline: none!important;
}

.menu_icon {
  margin-right: 1%;
  position: absolute;
  left:0;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

img {
  max-width: 50%;
  max-height: 100%;
}

.selector {
  position: absolute;
  width: 50%;
  height: 0.4rem;
  background-color: #e0ab10;
  border-radius: 1px;
  visibility: hidden;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.menu_container li:hover a, .link_selected {
  color: #e0ab10;
  -webkit-transition: color 600ms ease;
  -ms-transition: color 600ms ease;
  -moz-transition: color 600ms ease;
  transition: color 600ms ease;

}

.menu_container li:hover .selector, .selector_displayed {
  visibility: visible;
  transform: translate(5vh,0);
  -webkit-transform: translate(5vh,0);
  -o-transform: translate(5vh,0);
  -moz-transform: translate(5vh,0);
}
