.divMainContent {
    display: inline-block;
    background-color: rgba(1, 1, 1, 0.3);
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    height: auto;
    width: 100%;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 5px;
}

.selected_item {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    width: 80%;
}

.back_btn {
    background-color: #7a9966;
    color: white;
    border: none;
    padding: 1% 2% 1% 2%;
    border-radius: 3px;
    width: auto;
    height: auto;
    margin-top: 1%;
    float: left;
}

.show_picture {
  width:100%;
  max-height:none;
  max-width:none;
}

.picture_container{
  display:inline-block;
  width:20%;
  vertical-align:top;
}
